@media only screen and (max-width: 1200px) {

	#container {
		max-width: 90%;
		max-height: 100%;
	}

	.balance {
		margin-top: 20px;
	}

	.spending {
		margin-bottom: 20px;
		font-size: 25px;
	}

	.amount {
		font-size: 15px;
	}

	/* giving Safari custom CSS rules to fix footer text being too big */

	_::-webkit-full-page-media #footer, _:future #footer, :root .safari_only #footer {
		font-size: 8px;
	}

}

@media only screen and (max-width: 480px) {

	.amount {
		font-size: 12px;
	}

}