@media only screen and (max-width: 1200px) {

	#container {
		max-width: 90%;
		max-height: 100%;
	}

	.balance {
		margin-top: 20px;
	}

	.spending {
		margin-bottom: 20px;
		font-size: 25px;
	}

	.amount {
		font-size: 15px;
	}

	#footer {
		font-size: 11px;
	}

}

@media only screen and (max-width: 480px) {

	.amount {
		font-size: 12px;
	}

}